@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

header {
  background: #f5f7ff;
  height: 190px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (min-width: 600px) {
  header {
    height: 230px;
  }
}

h1 {
  color: #1e202a;
}

h2 {
  color: #63687e;
}

h3 {
  margin: 0;
  color: #63687e;
}

a {
  text-decoration: none;
  color: #198ff5;
}

p {
  margin: 0 0 30px;
  color: #63687e;
}

span {
  color: #63687e;
}

@media (min-width: 1440px) {
  .wrap {
    width: 95%;
    margin: 0 auto;
    max-width: 1300px;
  }
}

.container, .card__body {
  border-radius: 5px;
  background: #f0f2fa;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.header {
  padding: 1em;
}
@media (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__title {
  font-size: 1.7142857143em;
  margin: 2px 0 0;
}
.header__subheading {
  border-bottom: 1px solid #63687e;
  margin-top: 0;
  padding-bottom: 0.7142857143em;
  font-size: 1em;
}
@media (min-width: 600px) {
  .header__subheading {
    border-bottom: none;
  }
}

.toggle {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .toggle {
    align-items: center;
    height: 5vh;
  }
}
.toggle__title {
  margin-right: 1.0714285714em;
}
.toggle__switch {
  cursor: pointer;
}

.switch-material.switch-light > span {
  background: #aeb3cb;
}

.switch-material.switch-light input:checked ~ span {
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}

.switch-material.switch-light input:checked ~ span a {
  background: #1e202a;
  border: 1px solid #fff;
}

.main {
  position: relative;
  top: -80px;
  z-index: 10000;
}
@media (min-width: 600px) {
  .main {
    top: -155px;
  }
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 25px;
}

.card {
  padding: 1em;
  margin-top: 2.1428571429em;
}
.card__body {
  padding: 2.5em 2.5em 1.5em;
  margin-bottom: 1.7857142857em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__body--col-blue {
  border-top: 4px solid #198ff5;
}
.card__body--col {
  position: relative;
}
.card__body--col::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #fdc468, #df4996);
  border-radius: 5px;
}
.card__body--col-red {
  border-top: 4px solid #c4032a;
}
.card__social {
  display: flex;
  align-items: center;
}
.card__social-icon {
  margin-right: 0.7142857143em;
}
.card__link {
  font-weight: 700;
}
.card__followers {
  margin: 25px 0 0;
  font-size: 3.9285714286em;
  line-height: 55px;
  color: #1e202a;
}
.card__text {
  letter-spacing: 0.328em;
  text-transform: uppercase;
}
.card__footer {
  display: flex;
  align-items: center;
}
.card__follower-count {
  font-weight: 700;
}
.card__follower-count--col {
  color: #1db489;
}
.card__follower-count--redCol {
  color: #dc414c;
}

.card-overview {
  padding: 1em;
}
.card-overview__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-overview__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7142857143em;
}
.card-overview__number {
  font-size: 2.8571428571em;
  margin-bottom: 0;
  color: #1e202a;
  font-weight: 700;
}

.container {
  padding: 1em;
  margin-bottom: 1.7857142857em;
}

.up-icon,
.down-icon {
  margin-right: 0.2142857143em;
}

.overview-title {
  padding: 1em;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #63687e;
}

/*# sourceMappingURL=styles.css.map */
