// ==========================================================================
// Placeholders
// ==========================================================================

%card {
  border-radius: $br--radius;
  background: $cardCol;
  transition: 0.5s ease-in-out;
  cursor: $cursor;
}
